@import "src/assets/variables";
@import "src/assets/mixins";

.welcome-section {
  position: relative;
  padding: 190px 0;
  background-color: #f0f1f1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/yesmen.jpg");
  background-size: cover;
  background-position-y: 40%;

  @media (max-width: 1199px) {
    padding: 10vw 0;
  }

  @media (max-width: 480px) {
    background-position-x: center;
    margin-top: 80px ;
  }

  &__image {
    width: 100%;
  }

  &__header {
    font-size: $small-header;
    padding: 10px 0 30px 0;

    @media (max-width: 991px) {
      font-size: $small-header-md;
    }

    @media (max-width: 480px) {
      font-size: 18px;
    }
  }

  &__text {
    font-size: $big-header;
    height: 100%;
    border-top: 0;

    @media (max-width: 991px) {
      font-size: $big-header-md;
    }

    @media (max-width: 480px) {
      background-position-x: center;
    }
  }

  &__text-container {
    width: 50%;
    margin-left: 30px;
    text-align: left;
    padding: 50px 0;
    color: #fff;
    z-index: -10;

    @media (max-width: 1199px) {
      width: 100%;
    }

    @media (max-width: 480px) {
      text-align: center;
      padding: 0 10px;
      margin: 0;
    }
  }

  &__column {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
