@import "src/assets/mixins";

.welcome-section {
  position: relative;
  min-height: 730px;
  background-image: url(/images/bannerImage.webp);
  background-size: cover;
  margin-top: 78px;
  @media (max-width: 1199px) {
    padding: 10vw 0;
  }
  @media (max-width: 991px) {
    background-position-x: center;
  }
  @media (max-width: 767px) {
    min-height: 480px;
    height: 480px;
  }
  @media (max-width: 480px) {
    margin-top: 80px;
  }

  &__image {
    width: 100%;
  }

  &__text-container {
    width: 65%;
    text-align: left;
    color: #fff;
    position: absolute;
    bottom: 165px;

    @media (max-width: 1199px) {
      width: 100%;
    }
    @media (max-width: 768px) {
      bottom: 80px;
      left: 0;
    }
    @media (max-width: 560px) {
      text-align: center;
    }
    @media (max-width: 480px) {
      text-align: center;
      padding: 0 10px;
      margin: 0;
    }
  }
  &__header {
    color: #fff;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    z-index: 2;
    position: relative;
    @media (max-width: 767px) {
      font-size: 44px;
      line-height: 105%;
    }
  }
  &__text {
    margin-top: 10px;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    z-index: 2;
    position: relative;
    @media (max-width: 767px) {
      font-size: 24px;
    }
  }
  &__text-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 740px;
    padding: 55px 0 55px 110px;
    @media (max-width: 1199px) {
      margin-left: 0;
    }
    @media (max-width: 560px) {
      padding: 20px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: #fe0102;
      mix-blend-mode: darken;
      z-index: 0;
    }
  }

  &__column {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
