@import "src/assets/mixins";

.about {
  &__row {
    display: flex;
    justify-content: center;
    gap: 120px;
    flex-wrap: wrap;
  }
  &__col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__header {
    @include headerA;
  }
}
@media (max-width: 991px) {
  .about {
    &__col {
    }
    &__row {
      gap: 60px;
      flex-direction: column;
    }
  }
}
