@import "src/assets/variables";
@import "src/assets/mixins";

.numbers{
  @include section-margin;

  &__header{
    @include small-header;
  }
  &__columns{
    justify-content: space-between;
  }
  &__container{
    text-align: center;

  }
  &__title{
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 20px;
    transition: 4s;

  }
  &__text{
      font-size: 30px;
    transition: 4s;
  }
  &__card{
    min-width: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 1s;
  }
  &__hidden{
    opacity: 0;
  }
  &__visible{
    opacity: 1;
  }
}