@import "src/assets/variables";
#top{
  position: relative;
}
.navigation {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background: #fff;
  width: 100%;
  padding: 0 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1320px;
  @media (max-width: 768px) {
    padding-bottom: 10px;
  }
  &__logo {
    height: 60px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button {
    cursor: pointer;
    padding: 3px 6px;
    list-style: none;
    border: 1px solid $secondary-color;
    text-align: center;
    font-size: 12px;
    &:nth-of-type(2) {
      margin-top: 5px;
    }
    &--selected {
      font-weight: bold;
    }
  }
  &__right-side {
    display: flex;
    align-items: center;
  }
  &__links {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    @media (max-width: 1000px) {
      gap: 2vw;
    }

    @media (min-width: 1200px) {
      gap: 60px;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__link {
    color: $secondary-color;
    text-decoration: none;
    &:hover {
      color:$accent-light;
    }
  }
}
