@import "src/assets/variables";
@import "src/assets/mixins";

.contact {
  @include section-margin;
  max-width: 1000px;
  margin: 0 auto;
  background: $accent-dark;
  &__image-wrapper {
    width: 100%;
    height: 100%;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
