@import "src/assets/variables";
@import "src/assets/mixins";

.contact {
  margin: 70px auto 0;

  max-width: 1000px;
  background: $accent-dark;
  &__image-wrapper {
    width: 100%;
    height: 100%;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__column {
    display: flex;
    justify-content: center;
    padding: 40px 0;
  }
  &__text {
    line-height: 26px;
    width: 60%;
    text-align: left;
    color: $primary-color;
  }
}
