@import "src/assets/mixins";

.contact {
  background-color: #f7f7f7;
  background-image: url("/images/gradient.webp");
  background-size: cover;
  background-position: center;
  &__decoration--right {
    width: 100%;
  }
  &__wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }
  &__row {
    padding-bottom: 40px;
  }
  &__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  &__header {
    @include headerB;
  }
  &__bottom {
    padding-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .contact {
    &__mobile-col {
      display: none;
    }
  }
}
