@import "src/assets/mixins";

.whyWC {
  background-color: #f7f7f7;
  padding-bottom: 40px;
  &__decor {
    width: 100%;
  }
  &__paragraph {
    color: #575757;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    max-width: 1080px;
    padding-bottom: 120px;
  }
  &__header {
    @include headerA;
  }
}
