@import "src/assets/variables";

.whyWC{
  margin-top: 70px;
  text-align: center;
  &__header{
    font-size: $small-header;
    font-weight: bold;

    &--text{
      margin: 20px auto;
      font-size: $big-header;
    }
  }
  &__paragraph{
    line-height: 22px;
    margin-bottom: 30px;
  }
  &__icons{
    padding: 20px 0;
    background-color: #bd2727;
  }
}

@media (max-width: 991px) {
  .whyWC{

    &__header{
      font-size: $small-header-md;
      &--text{
        font-size: $big-header-md;
      }
    }
    &__paragraph{
      line-height: 20px;
    }
  }
}
@media (max-width: 767px) {
  .whyWC{

    &__header{
      font-size: $small-header-sm;
      &--text{
        font-size: $big-header-sm;
      }
    }
    &__paragraph{
      line-height: 18px;
    }
  }
}
@media (max-width: 575px) {
  .whyWC{

   &__icons{
     gap: 40px
   }
  }
}