@import "src/assets/variables";
@import "src/assets/mixins";

.whyWC {
  @include section-margin;
  text-align: center;
  &__header {
    &--small {
      @include small-header;
    }
    &--large {
      @include big-header;
    }
  }
  &__paragraph {
    @include paragraph;
    @media (max-width: 767px) {
      line-height: 22px;
    }
    @media (max-width: 991px) {
      line-height: 24px;
    }
  }
  &__icons {
    max-width: 1296px;
    margin: 0 auto;
    padding: 40px 0;
    background-color: #bd2727;
    @media (max-width: 575px) {
      gap: 40px;
    }
  }
  &__subtext {
    color: $primary-color;
    font-weight: bold;
    margin-top: 20px;
  }
}
