@import "src/assets/variables";
@import "src/assets/mixins";

.strategy {
  @include section-margin;
  &__header {
    @include small-header;
  }
  &__bottom {
    padding: 50px 10px;
    display: flex;
    justify-content: flex-start;
    background-size: cover;
  }
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__row {
    margin-bottom: 20px;
    background: $accent-dark;
    &:nth-of-type(odd) {
      @media (max-width: 767px) {
        flex-direction: column-reverse;
      }
    }
  }
  &__column {
    padding: 0;
  }
  &__image-wrapper {
    width: 100%;
    height: 100%;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    font-weight: bold;
    font-size: 26px;
    color: $primary-color;
    margin-bottom: 10px;
    @media (max-width: 575px) {
      text-align: center;
      font-size: 22px;
    }
  }
  &__text {
    @include paragraph;
    color: $primary-color;
    @media (max-width: 575px) {
      text-align: center;
    }
  }
  &__text-group {
    margin-bottom: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
}
