@mixin small-header {
  color: red;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin: 70px 0 40px;
}

@mixin big-header {
  color: red;
  margin: 20px auto;
  font-weight: bold;
  text-align: center;
}

@mixin paragraph {
  line-height: 26px;
}
@mixin headerA {
  color: #000;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  margin: 20px 0;
}
@mixin headerB {
}
@mixin text {
  color: #7f7f7f;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
}
