$primary-color: #fff;
$secondary-color: #000;
$accent-light: #bd2727;
$accent-dark: #252525;

$main-font: 18px;
$small-header: 28px;
$big-header: 40px;
$big-header-md: 32px;
$small-header-md:24px;
$big-header-sm: 28px;
$small-header-sm:20px;
