@import "src/assets/mixins";

.cookie-info {
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 100%;
  border-top: 1px solid #000;
  padding: 20px 0;
  @media (max-width: 1199px) {
    padding: 40px 0;
  }
  &__text {
    max-width: 1000px;
    margin: 0 auto;
    line-height: 26px;
    position: relative;
  }
  &__link {
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
    &:hover {
      color: #fe0102;
    }
  }
  &__button {
    position: absolute;
    top: -10%;
    right: -20px;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color: #fe0102;
    }
    @media (max-width: 1199px) {
      top: -30px;
      right: 60px;
    }
  }
}
